

/*-----couleurs-----*/
.couleur-primaire, footer{
    background-color: #B0D9E3;
}

.couleur-secondaire{
    background-color: #08E9F8;
}

.couleur-main-primaire{
    background-color: #86898A;
}

.couleur-main-secondaire{
    background-color: #2D2F2F;
}

.couleur-cartes{
    background-color: #424848;
}

.couleur-form{
    background-color: #86898A;
}

.blanc{
    background-color: #ffffff;
}

/*-----titres+texte-----*/
body{
    font-family: 'Montserrat', sans-serif; 
}

h3, h6, p, .nav-link{
    font-size: 1rem;
}

h1{
    font-size: 3.42rem;
    margin: 3rem 0;
}

h2{
    font-size: 2.143rem;
    margin-top: 4.3rem;
    color: #ffffff;
}

.span{
    font-weight: bold;
    color: #08E9F8;
    margin: 0 0 4.3rem 0;
}

h3{
    font-weight: bold;
}

h4{
    font-size: 1.286rem;
    /* font-weight: medium; */
    color: #ffffff;
    margin: 2.6rem 0 0 2.6rem; 
}

h5{
    margin-top: 2rem;
    font-size: 1.286rem;
    color: #ffffff;
    text-align: center;
}

h6{
    color: #ffffff;
    padding: 20px 0;
    font-weight: 100;
    line-height: 30px;
    margin: 0 100px
}

.wrapper{
    width: 1024px;
    margin: 0 auto;
}

p{
    color: #ffffff;
}

/*-----menu nav-----*/
.navbar{
    padding: 50px;
    /* background-color: #B0D9E3; */
    background-color: #e9effd;
}

.nav-link--active{
    text-decoration : underline;
    font-weight: bold;
}

.nav-link{
    transition: .5s;
}

.nav-link:hover{
    transition: .5s;
    transform: translate(-5px, -10px) scale(1.2);
}

/*-----carrousel-----*/

.wrapper-caroussel{
    padding-bottom: 10%;
}

.carousel-indicators {
    bottom: -20%;
}
.carousel-indicators > li{
    border-radius: 100%;
    background-color: #000000;
    height: 2rem;  
}


/*----flip-card----*/
.card {
    background-color: #212529;
    border: 3px solid #000000;
    border-radius: 20px;
    perspective: 1000px; 
  }
  
  
  .flip-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card:hover .flip-container {
    transform: rotateY(180deg);
  }


  .front, .back {
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  .front {
    background-color: #bbb;
    color: black;
    overflow: visible;
  }
  
  .back {
    width: 50%;
    border: 2px black solid;
    background-color: #08E9F8;
    transform: rotateY(180deg);
    position: relative;
    top: -20rem;
    left: 23%;
    box-shadow: 10px 5px 5px;
    border-radius: 20px;
  }


/*-----accueil-----*/
.accueil-bas{
    padding: 7%;
}

/* .accueil-bas > article{
    min-height: 80%;
} */

.overflow{
    position: relative;
    margin-top: -5%;
    overflow: visible;
}

article > p{
    margin: 2.6rem;
}

/*-----footer-----*/
footer{
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    /* margin-top: 10%; */
}

.bas{
    padding: 5% 0 0 0;
}


/* FORMULAIRE */

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 15px 1fr 180px;
    gap: 30px;
    padding: 40px 400px;
}

.nom {
    grid-column-start: 2;
    grid-column-end: 4;
}

.nom , .prenom {
    grid-row: 1;
}

.courriel, .telephone, .commentaire {
    grid-column-start: 1;
    grid-column-end: 4;
}

.courriel {
    grid-row: 2;
}

.telephone {
    grid-row: 3;
}

.text-label {
    font-size: 18px;
    color: #B0D9E3;
}

.choix_services {
    grid-column-start: 1;
    grid-row: 5;
    min-width: 100px;
}

.commentaire {
    grid-row: 6;
} 

textarea {
    resize: none;
}

.soumettre {
    grid-row: 7;
    grid-column-start: 2;
    background-color: #2D2F2F;
    color: #08E9F8;
    border: #08E9F8 3px solid;
    font-size: 20px;
    font-weight: 600;
}

::placeholder, select, input, label, textarea {
    font-family: montserrat;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
}

/* LES services */

.impartition {
    grid-column: 3;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;

    padding: 100px;
}

.services > article {
    min-width: 100px;
    padding: 30px;
}


.services > article:hover{
    color: #fff;
    background-color: #08E9F8;
    cursor:pointer;
}



.ligne {
    border-top: 5px solid #08E9F8;
    margin: 10px;
}


.offset-1 {
    margin-left: 7%;
}